---
import "@/styles/globals.css";
import DataScienceClubLanding from "../components/DataScienceClubLanding";
import Header from "../components/Header";
import Footer from "../components/Footer";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page - Club de Ciencia de Datos</title>
  </head>
  <body class="flex flex-col min-h-screen">
    <Header client:load />
    <DataScienceClubLanding client:load />
    <Footer client:load />
  </body>
</html>
